/**
* @name LightBlue Neon Themes
* @author PrintedJungle38#7324
* @version 1.0.0
* @description A dark theme with light blue neon-y colors!
* @authorId 137259145305539072
*/

@import url(https://maendisease.github.io/BetterDiscordStuff/css/bearableInbox.css);
:root {
	--base-color: rgb(20, 26, 26);
	--rgb-highlight: rgb(0, 200, 200);
	--highlight: var(--rgb-highlight);
	--background-variant: rgb(0, 255, 255);
	--background-popup-info: rgb(18, 37, 37);
	--color-base1: rgb(0, 140, 140);
	--popup-messagge-unread: rgb(20, 40, 40);
	--linear-gradient0: rgb(0, 87, 87);
	--linear-gradient1: rgb(16, 27, 27);
	--search-bar-text: rgb(0, 50, 50);
	--ping-message: rgb(0, 100, 100);
	--ping-message-hover: rgb(0, 170, 170);
	--replied-message: rgb(0, 70, 70);
	--placeholder-text: rgb(60, 80, 80);

	--a: rgba(0, 200, 200, 0.07);
	--b: rgba(0, 200, 200, 0.2);
	--c: rgba(0, 140, 140, 0.07);
	--d: rgba(0, 200, 200, 0.1);
	--e: rgba(0, 140, 140, 0.1);
	--f: rgba(0, 140, 140, 0.3);
	--g: rgba(0, 200, 200, 0.3);
	--h: rgba(0, 140, 140, 0.2);
	--i: rgba(0, 140, 140, 0.15);
	--j: rgba(255, 40, 40, 0.2);
	--k: rgba(255, 40, 40, 0.4);
	--l: rgba(0, 140, 140, 0.4);
	--m: rgba(79, 84, 92, 0.4);
	--n: rgba(0, 180, 180, 0.1);
	--o: rgba(0, 0, 0, 0.5);

	--background: black;
	--close-button: var(--dnd-color) !important;
	--online-color: #39ff14;
	--afk-color: #FFFF33;
	--dnd-color: #FF0000;
	--streaming-color: #bc13fe;
	--rs-online-color: var(--online-color);
	--rs-idle-color: var(--afk-color);
	--rs-dnd-color: var(--dnd-color);
	--rs-offline-color: gray;
	--rs-invisible-color: gray;
	--rs-streaming-color: var(--stream-color);
	--interactive-hover: var(--highlight);
	--interactive-active: var(--highlight);
	--text-link: var(--highlight);
	--bdfdb-blurple: var(--highlight);
	--logo-primary: var(--highlight);
	--focus-primary: var(--highlight);
	--radio-group-dot-foreground: var(--highlight);
	--scrollbar-thin-thumb: var(--highlight);
	--scrollbar-auto-thumb: var(--highlight);
	--scrollbar-auto-scrollbar-color-thumb: var(--highlight);
	--scrollbar-thin-track: var(--background);
	--scrollbar-auto-track: var(--background);
	--scrollbar-auto-scrollbar-color-track: var(--background);
	--activity-card-background: var(--background);
	--background-primary: var(--background);
	--background-mobile-primary: var(--background);
	--background-secondary: var(--background);
	--background-mobile-secondary: var(--background);
	--background-secondary-alt: var(--background);
	--background-tertiary: var(--background);
	--background-accent: var(--background);
	--background-floating: var(--background);
	--channeltextarea-background: var(--background);
	--textbox-markdown-syntax: var(--background);
	--border: 1px solid var(--rgb-highlight);
}

/* --== NAME ==-- */
/* puoi inserire anche tu il tuo nome che fa effetti speciali scrivendo il tuo data-author-id qui sotto*/
/*        \v/        */
.contents_f9f2ca>img[src="https://cdn.discordapp.com/avatars/747219836668608653/983e9a44bd1e2fac70f936a45174822d.webp?size=80"]~.header_f9f2ca .username_f9f2ca.desaturateUserColors_c7819f.clickable_f9f2ca {
	animation: show 2.5s linear;
	animation-iteration-count: infinite;
}

@keyframes show {
	100%, 0% { color: rgb(0, 255, 255); }
	50% { color: rgb(0, 0, 255); }
}

/* --== Style discord bar ==-- */
.appMount_ea7e65>div:nth-child(4) {
	margin: 1px 1px 0;
	height: min-content;
	border-radius: 10px;
	box-shadow: 0 0 0 1px var(--rgb-highlight);
	background-color: var(--base-color);
}

.wordmarkWindows_a934d82dq6rw.wordmark_a934d8>svg>g>path {
	fill: var(--highlight);
}

.appMount_ea7e65>div:nth-child(4)>div:nth-child(n+2) {
	top: 0;
}

.appMount_ea7e65>div:nth-child(4)>div:nth-child(2) {
	color: red;
	transition: 500ms;
	border-radius: 0 10px 10px 0;
}

.appMount_ea7e65>div:nth-child(4)>div:nth-child(2):hover {
	background-color: red;
	color: black;
	transition: 500ms;
}

/* right click */
.menu_d90b3d.flexible_d90b3d {
	background-color: var(--base-color);
	border-radius: 10px;
	border: var(--border);
}

.submenu_d90b3d.menu_d90b3d {
	background-color: var(--base-color);
	border-radius: 10px;
	border: var(--border);
}

/* --== Server List ==-- */
.tooltip_b6c360 {
	pointer-events: all;
}

.scroller_fea3ef.none_c49869.scrollerBase_c49869 {
	background-color: var(--base-color);
	border-radius: 10px;
	border: var(--border);
}

.scroller_fea3ef.none_c49869.scrollerBase_c49869>.listItem_c96c45>.guildSeparator_d0c57e {
	border-radius: 10px;
	height: 4px;
	width: 40px;
	background-color: var(--background-variant);
}

/* --== linea accanto al logo discord ==-- */
.listItem_c96c45:hover>div>.item_c4cd66,
.item_c4cd66[style="opacity: 1; height: 40px; transform: none;"] {
	background-color: var(--background-variant);
}

/* messaggio info */
.layer_cd0de5.disabledPointerEvents_cd0de5>div {
	background: transparent !important;
}

.layer_cd0de5.disabledPointerEvents_cd0de5 .tooltipPointer_b6c360 {
	border-top-color: var(--rgb-highlight);
}

.layer_cd0de5.disabledPointerEvents_cd0de5 .tooltipContent_b6c360 {
	background-color: var(--background-popup-info);
	border-radius: 10px;
	border: var(--border);
}

/* creare canale */
.focusLock_f9a4c9>.root_f9a4c9:not(:has(.quickswitcher_f4e139)) {
	background-color: var(--base-color) !important;
	border: var(--border);
	border-radius: 10px;
	margin: 0;
	padding: 0;
}

.closeIcon_f9a4c9 {
	color: red;
}

.scrollbarGhostHairline_c858ce::-webkit-scrollbar {
	display: none;
}

.theme-dark .rootWithShadow_f9a4c9 {
	box-shadow: none;
}

/*tipo di canale*/
.focusLock_f9a4c9 .thin_c49869::-webkit-scrollbar {
	display: none;
}

.content_f9a4c9 {
	padding: 0 16px !important;
}

.type_b545d5 .item_eb92a8 {
	border-radius: 10px;
	border: var(--border);
	color: var(--background-variant);
}

.type_b545d5 .item_eb92a8.itemFilled_eb92a8 {
	background-color: var(--a);
}

.type_b545d5 .item_eb92a8.itemFilled_eb92a8:hover {
	background-color: var(--d);
}

.type_b545d5 .item_eb92a8[aria-checked=true] {
	background-color: var(--f);
}

.type_b545d5 .item_eb92a8[aria-checked=true]:hover {
	background-color: var(--f) !important;
}

/*nome del canale*/
.inputDefault_f8bc55.input_f8bc55.inputInner_b545d5 {
	background-color: var(--a) !important;
	color: var(--rgb-highlight);
	border-radius: 10px;
	border: var(--border);
}

/*bottom popup*/
.modalFooter_b545d5 {
	border-radius: 0;
}

.theme-dark .footerSeparator_f9a4c9 {
	box-shadow: none;
}

.footer_f9a4c9 {
	background-color: var(--a);
}


/* --== Crea un Server ==-- */
.focusLock_f9a4c9 .container_a4d79f .text-md-normal__6e567,
.focusLock_f9a4c9 .container_a4d79f .text-sm-normal__95a78,
.focusLock_f9a4c9 .container_a4d79f .sampleLink_e8a9c7,
.focusLock_f9a4c9 .container_a4d79f .text-xs-bold__5467c {
	color: var(--rgb-highlight) !important;
}

.focusLock_f9a4c9 .container_a47d49 {
	color: var(--rgb-highlight);
	background-color: var(--a);
	border: var(--border);
	border-radius: 8px;
	transition: 200ms;
}

.focusLock_f9a4c9 .container_a47d49:hover {
	background-color: var(--b);
	transition: 200ms;
}

.focusLock_f9a4c9 .arrow_a47d49 {
	filter: invert(74%) sepia(57%) saturate(1000%) hue-rotate(141deg) brightness(100%) contrast(100%);
}

.focusLock_f9a4c9 .container_a4d79f .inputDefault_f8bc55 {
	background-color: var(--a);
	color: var(--rgb-highlight);
	border-radius: 10px;
	border: var(--border);
}

.input_e8a9c7 {
	background-color: transparent;
}

/* --== Style server explorer ==-- */
/* pannello scopri */
.sidebar_a4d4d9>.container_e462a4 {
	background-color: var(--base-color);
	border-radius: 10px;
	border: var(--border);
}

.sidebar_a4d4d9>.container_e462a4::-webkit-scrollbar {
	display: none;
}

.sidebar_a4d4d9>.container_e462a4>div {
	margin: 0 8px;
	padding: 0;
	padding-bottom: 5px;
}

.sidebar_a4d4d9>.container_e462a4 .navItem_e462a4 {
	background-color: var(--e);
	border-radius: 10px;
	border: var(--border);
	transition: 0.2s;
}

.sidebar_a4d4d9>.container_e462a4 .navItem_e462a4:hover {
	background-color: var(--f);
	padding-left: 13px;
	transition: 0.2s;
}

.sidebar_a4d4d9>.container_e462a4 .navItem_e462a4.selected_e462a4 {
	background-color: var(--g) !important;
	padding-left: 13px;
}

.sidebar_a4d4d9>.container_e462a4 .navItem_e462a4.selected_e462a4:hover {
	background-color: var(--g) !important;
	padding-left: 16px !important;
}

/* server in evidenza */
.theme-dark .card_e32e6f:hover {
	box-shadow: 0 0 10px var(--rgb-highlight);
}


/* --== chat DM ==-- */
::selection {
	background: var(--rgb-highlight);
	color: black;
}

.privateChannels_f0963d {
	background-color: var(--base-color);
	border-radius: 10px;
	border: var(--border);
}

.theme-dark .scroller_c47fa9 {
	background: transparent;
}

.theme-dark .scroller_c47fa9:hover::-webkit-scrollbar-thumb,
.theme-dark .scroller_c47fa9:hover::-webkit-scrollbar-track {
	margin: 10px 0;
	border-radius: 10px;
}

.interactive_f5eb4b.interactive_c91bad.interactiveSelected_c91bad.selected_f5eb4b {
	background-color: var(--f);
	border-radius: 10px;
}

.interactive_f5eb4b.interactive_c91bad.linkButton_c91bad.interactiveSelected_c91bad.selected_f5eb4b {
	background-color: var(--h);
	border-radius: 10px;
}

.interactive_f5eb4b:focus-within,
.interactive_f5eb4b:hover {
	background-color: var(--h);
	border-radius: 10px;
}

/* --== Style the "Find or start a conversation" button (finally) ==-- */
.searchBar_f0963d {
	box-shadow: none;
}

.searchBar_f0963d .searchBarComponent_f0963d {
	background-color: var(--e);
	border: var(--border);
	border-radius: 5px;
	display: flex;
	justify-content: center;
	color: var(--highlight);
	transition-duration: .3s;
}

.searchBar_f0963d .searchBarComponent_f0963d:hover {
	background-color: var(--f);
}

/* --== Style "Find or start a conversation" pop-up ==-- */
.layer_c9e2da .quickswitcher_f4e139 {
	border: var(--border);
	border-radius: 10px !important;
	background-color: var(--base-color);
}

.quickswitcher_f4e139 .input_f4e139 {
	background-color: var(--e);
	border-radius: 10px;
}

.quickswitcher_f4e139>div:nth-child(2)::-webkit-scrollbar {
	display: none;
}

.quickswitcher_f4e139>div:nth-child(2) {
	margin-right: 0;
	background-color: transparent;
}

.result_e3c1c6[aria-selected="true"] {
	background-color: var(--f) !important;
	background: var(--f);
}

.quickswitcher_f4e139 .content_eed6a8 div:nth-child(2):not(.result_e3c1c6)~.result_e3c1c6:nth-child(3) {
	border-radius: 10px 10px 0 0;
	border-top: var(--border);
	border-right: var(--border);
	border-left: var(--border);
}

.quickswitcher_f4e139 .content_eed6a8 .result_e3c1c6:nth-child(2) {
	border-radius: 10px 10px 0 0;
	border-top: var(--border);
	border-right: var(--border);
	border-left: var(--border);
}

.quickswitcher_f4e139 .result_e3c1c6 {
	border-radius: 0;
	background-color: var(--e);
	border-right: var(--border);
	border-left: var(--border);
}

.quickswitcher_f4e139 .result_e3c1c6:nth-child(2):last-child {
	border-radius: 10px !important;
	border: var(--border) !important;
}

.quickswitcher_f4e139 .result_e3c1c6:last-child {
	border-radius: 0 0 10px 10px;
	border-bottom: var(--border);
	border-right: var(--border);
	border-left: var(--border);
}

.protip_f4e139.hasContent_f4e139 {
	border-top: 0;
}

/* --== nitro ==-- */
.applicationStore_cecc86 {
	background-color: transparent;
}

.applicationStore_cecc86 .headerBar_d175a8 {
	background-color: var(--base-color);
	border-radius: 10px;
	border: var(--border);
}

.applicationStore_cecc86 .scroller_a8b566.auto_c49869.scrollerBase_c49869 {
	background-color: var(--base-color);
	border-radius: 10px;
	border: var(--border);
}

/* --== menu profilo ==-- */
.panels_a4d4d9 {
	background-color: var(--base-color);
	border-radius: 10px;
	border: var(--border);
}

.theme-dark .panel_bf1a22, .container_b2ca13, .container_adcaac {
	background: none !important;
	border-bottom: none;
}

.actionButtons_adcaac button {
	background-color: var(--i) !important;
	border-radius: 10px;
	border: var(--border);
}

.avatarWrapper_b2ca13:hover {
	background-color: var(--a);
	border-radius: 10px;
	box-shadow: 0 0 0 1px var(--rgb-highlight);
}

/* --== Style the Friends page ==-- */
.container_c2739c {
	background-color: transparent !important;
}

/* --== amici online, preferiti ecc ==-- */
.container_c2739c .theme-dark.container_fc4f04.themed_fc4f04 {
	background-color: var(--base-color);
	border: var(--border);
	border-radius: 10px;
}

.children_fc4f04 {
	overflow: scroll hidden;
}

.children_fc4f04::-webkit-scrollbar {
	display: none;
}

.container_c2739c .icon_fc4f04 path {
	color: var(--highlight);
}

.topPill_a0 .item_a0 {
	background-color: var(--e) !important;
	border: var(--border);
	color: var(--highlight) !important;
}

.topPill_a0 .item_a0:hover {
	background-color: var(--f) !important;
}

.children_fc4f04:after {
	content: "";
	position: static;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
}

/* persone online */
.peopleColumn_c2739c {
	background-color: var(--base-color);
	border: var(--border);
	border-radius: 10px;
}

.peopleColumn_c2739c .searchBar_e0840f.container_c18ec9.medium_c18ec9 {
	background-color: var(--e);
	border: var(--border);
	border-radius: 10px;
}

.peopleListItem_d51464.active_d51464+.peopleListItem_d51464,
.peopleListItem_d51464:hover+.peopleListItem_d51464,
.peopleListItem_d51464,
.peopleListItem_d51464.active_d51464,
.peopleListItem_d51464:hover {
	background-color: var(--e);
	border-radius: 10px;
	border: var(--border);
	transition: 200ms;
}

.listItemContents_e05dae {
	padding-right: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}

.peopleListItem_d51464.active_d51464,
.peopleListItem_d51464:hover {
	background-color: var(--i);
	margin-top: 6px;
	margin-bottom: 10px;
	padding-right: 0;
	padding-left: 0;
}

/* --== attivi ora ==-- */
.nowPlayingColumn_c2739c .scroller_bf550a.thin_c49869.scrollerBase_c49869 {
	background-color: var(--base-color);
	border-radius: 10px;
	border: var(--border);
	margin-left: 0 !important;
}

.nowPlayingColumn_c2739c .scroller_bf550a.thin_c49869.scrollerBase_c49869::-webkit-scrollbar-thumb,
.nowPlayingColumn_c2739c .scroller_bf550a.thin_c49869.scrollerBase_c49869::-webkit-scrollbar-track {
	visibility: hidden;
}

.nowPlayingColumn_c2739c .itemCard_f02fcf {
	background-color: var(--e);
	border-radius: 10px;
	border: var(--border);
	transition: 0.3s;
}

.nowPlayingColumn_c2739c .itemCard_f02fcf:hover {
	background-color: var(--i) !important;
	transition: 0.3s;
}

.nowPlayingColumn_c2739c .body_cd82a7.inset_ac5d22 {
	border: var(--border);
	background-color: var(--c);
}
/* da fixare */
.nowPlayingColumn_c2739c .separator_cd82a7 {
	background-color: var(--rgb-highlight);
}
/* da fixare */
.nowPlayingColumn_c2739c .section_cd82a7 {
	background-color: var(--c);
}


/* --== Chat server ==-- */
/* --== Nome server ==-- */
.container_ee69e0 .header_fd6364 {
	background-color: var(--base-color) !important;
	border-radius: 10px;
	border: var(--border);
}

.container_ee69e0 .header_fd6364:hover,
.container_ee69e0 .selected_fd6364 .header_fd6364 {
	background-color: var(--h) !important;
}

/* opzioni server */
.scroller_d90b3d {
	background-color: var(--base-color);
	border-radius: 10px;
	border: var(--border);
}

/* --== Canali server ==-- */
.container_ee69e0 .scroller_c43953.thin_eed6a8.scrollerBase_eed6a8.fade_eed6a8.customTheme_eed6a8 {
	background-color: var(--base-color);
	border-radius: 10px;
	border: var(--border);
}

.container_ee69e0 .scroller_c43953.thin_eed6a8.scrollerBase_eed6a8.fade_eed6a8.customTheme_eed6a8::-webkit-scrollbar-thumb,
.container_ee69e0 .scroller_c43953.thin_eed6a8.scrollerBase_eed6a8.fade_eed6a8.customTheme_eed6a8::-webkit-scrollbar-track {
	margin: 10px 0;
	border-radius: 10px;
}

.container_ee69e0 .unreadTop_c43953>div,
.container_ee69e0 .unreadBottom_c43953>div {
	background-color: var(--base-color);
	border-radius: 10px;
	border: var(--border);
	transition: 0.2s;
	opacity: 1;
}

.container_ee69e0 .unreadTop_c43953>div:hover,
.container_ee69e0 .unreadBottom_c43953>div:hover {
	background-color: var(--popup-messagge-unread);
	transition: 0.2s;
}

/* canali */
.container_ee69e0 .containerDefault_f6f816 .iconVisibility_f6f816 {
	padding: 0;
}

.container_ee69e0 .containerDefault_f6f816 .link_d8bfb3 {
	transition: all .2s ease;
	margin-right: 1px;
	border-radius: 10px;
}

/* canale selezionato */
.containerDefault_f6f816 div .modeSelected_d8bfb3 .link_d8bfb3,
.containerDefault_f6f816.selected_f6f816 div .link_d8bfb3 {
	background-color: var(--e);
	padding-left: 15px;
}

.containerDefault_f6f816 div .modeSelected_d8bfb3 .link_d8bfb3:hover,
.containerDefault_f6f816.selected_f6f816 div .link_d8bfb3:hover {
	padding-left: 18px;
}

/* passaggio del cursore sopra canale generico */
.containerDefault_f6f816 .wrapper_d8bfb3:hover .link_d8bfb3 {
	transition: all .2s ease;
	background-color: var(--e);
	padding-left: 12px;
}

/* passaggio del cursore sopra canale con messaggio da leggere */
.containerDefault_f6f816 .wrapper_d8bfb3:hover .unread_d8bfb3~div>.link_d8bfb3 {
	padding-left: 15px;
}

/* canale con messaggio da leggere */
.containerDefault_f6f816 .wrapper_d8bfb3:hover .unread_d8bfb3::before {
	top: -6px;
	visibility: visible;
}

.containerDefault_f6f816 .wrapper_d8bfb3 .unread_d8bfb3 {
	transition: 0.2s;
}

.containerDefault_f6f816 .wrapper_d8bfb3:hover .unread_d8bfb3 {
	border-radius: 10px;
	top: 6px;
	left: 5px;
	bottom: 6px;
	width: 6px;
	height: 20px;
	margin-top: 0;
	transition: 0.2s;
}

/* canale con menzione da leggere */
.containerDefault_f6f816 .wrapper_d8bfb3 .children_d8bfb3>.channelInfo_f6f816>div>div {
	background-color: var(--rgb-highlight) !important;
	color: black;
}

/* canale connesso */
.containerDefault_f6f816 .modeConnected_d8bfb3 .link_d8bfb3 {
	background-color: var(--e);
	padding-left: 12px;
}

/* canale connesso selezionato */
.containerDefault_f6f816 .modeSelected_d8bfb3 .link_d8bfb3::after {
	background-color: var(--rgb-highlight);
	border-radius: 10px;
	content: "";
	position: absolute;
	display: block;
	top: 6px;
	left: 5px;
	bottom: 6px;
	width: 6px;
}

/* background canale connesso selezionato */
.containerDefault_f6f816.selected_f6f816 .modeSelected_d8bfb3 .link_d8bfb3::before,
.containerDefault_f6f816 div .modeSelected_d8bfb3 a::before {
	content: "";
	position: absolute;
	left: 0px;
	top: 0;
	height: 100%;
	width: 60px;
	border-radius: 10px 0 0 10px;
	background: linear-gradient(to right, var(--linear-gradient0), var(--background-popup-info));
}

/* numero dei membri vc */
.containerDefault_f6f816 .channelInfo_f6f816 .users_a5bc92 {
	justify-content: center;
	background-color: var(--rgb-highlight);
	color: black;
	padding: 0;
	width: 25px;
}

.containerDefault_f6f816 .channelInfo_f6f816 .total_a5bc92 {
	justify-content: center;
	background-color: black;
	color: var(--rgb-highlight);
	padding: 0;
	width: 25px;
}

.containerDefault_f6f816 .channelInfo_f6f816 .total_a5bc92:after {
	content: "";
	position: absolute;
	top: 0px;
	left: -5px;
	width: 8px;
	height: 18px;
	border: 1px solid;
	border-color: transparent;
	border-right-color: black;
	border-left-color: var(--rgb-highlight);
	background: linear-gradient(to right, var(--rgb-highlight), black)
}

/* --== server title, channel, Thread, pinned message and other ==-- */
.chat_a7d72e .container_fc4f04.themed_fc4f04 {
	background-color: var(--base-color);
	border-radius: 10px;
	border: var(--border);
	height: 50px;
}

.divider_fc4f04 {
	background-color: var(--rgb-highlight);
}

.layer_c9e2da .content_f9a4c9.content_ed23b8.selectable.thin_c49869.scrollerBase_c49869::-webkit-scrollbar-thumb,
.layer_c9e2da .content_f9a4c9.content_ed23b8.selectable.thin_c49869.scrollerBase_c49869::-webkit-scrollbar-track {
	display: none;
}

/* Thread */
.browser_f542fc.container_e664f3 {
	background-color: var(--base-color);
	border-radius: 10px;
	border: var(--border);
}

.browser_f542fc.container_e664f3 .header_e664f3 {
	background-color: transparent;
	border-radius: 0 0 8px 8px;
	border-bottom: var(--border);
}

.closeIcon_e664f3 {
	color: darkred !important;
	transition: 0.4s;
}

.closeIcon_e664f3:hover {
	color: red !important;
	transition: 0.4s;
}

/* --== crea nuovo thread ==-- */
/* .container_d1c246.floating_d1c246 {
	background-color: transparent !important;
	border-left: none;
} */

.container_d1c246 .container_fc4f04.themed_fc4f04,
.container_d1c246 .chat_fb4810 {
	border: var(--border);
	background-color: var(--base-color);
}

.container_d1c246 .container_fc4f04.themed_fc4f04 {
	border-radius: 10px 10px 0 0;
}

.container_d1c246 .chat_fb4810 {
	border-radius: 0 0 10px 10px;
	border-top: none;
}

.container_d1c246 .inputDefault_f8bc55.input_f8bc55 {
	background-color: var(--e);
	border-radius: 10px;
	border: var(--border);
}

.container_d1c246 .toolbar_fc4f04>div:last-child .icon_fc4f04 {
	color: darkred !important;
	transition: 0.4s;
}

.container_d1c246 .toolbar_fc4f04>div:last-child .icon_fc4f04:hover {
	color: red !important;
	transition: 0.4s;
}

.container_d1c246 .channelTextAreaInner_fb4810.scrollableContainer_bdf0de {
	background: var(--e);
}

.resizeHandle_d1c246 {
	background-color: var(--base-color);
	border-radius: 10px;
	border: var(--border);
	color: var(--base-color);
}

/* --== pinned message ==-- */
.messagesPopoutWrap_ac90a2 {
	background-color: var(--base-color);
	border-radius: 10px;
	border: var(--border);
}

.messagesPopoutWrap_ac90a2 .header_ac90a2 {
	background-color: transparent;
	border-radius: 0 0 8px 8px;
	box-shadow: none;
	border-bottom: var(--border);
}

.messagesPopoutWrap_ac90a2>div:nth-child(2) {
	padding-right: 4px !important;
}

.messagesPopoutWrap_ac90a2 .messageGroupWrapper_ac90a2 {
	background-color: var(--c);
	border-radius: 10px;
	border: var(--border);
}

/* --== barra di ricerca nel server ==-- */
.toolbar_fc4f04 .searchBar_a46bef {
	background-color: var(--e);
	border: var(--border);
	border-radius: 6px;
}

/* --== opzioni di ricerca ==-- */
.container_eedf95 {
	border: var(--border);
	border-radius: 10px;
	background-color: var(--base-color);
}

.container_eedf95:empty {
	display: none;
}

.container_eedf95>.queryContainer_eedf95.focused_eedf95 {
	background-color: var(--base-color);
}

.theme-dark .option_b0286e:after {
	display: none;
}

/* selezione ricerca */
.resultsGroup_b0286e>.option_b0286e[group="SEARCH_OPTIONS"]:nth-child(3) {
	border-radius: 10px 10px 0 0;
}

.resultsGroup_b0286e>.option_b0286e {
	background-color: var(--e);
	transition: 0.4s;
	border-radius: 0;
}

.resultsGroup_b0286e>.option_b0286e[aria-selected="true"],
.resultsGroup_b0286e>.option_b0286e:hover {
	background-color: var(--h);
	transition: 0.4s;
}

.resultsGroup_b0286e>.option_b0286e[group="SEARCH_OPTIONS"]:last-child {
	border-radius: 0 0 10px 10px;
}

/* barra cronologia */
.resultsGroup_b0286e::before {
	border-top: var(--border);
}

/* cestino */
.searchClearHistory_b0286e {
	color: darkred !important;
	transition: 0.4s;
}

.searchClearHistory_b0286e:hover {
	color: red !important;
	transition: 0.4s;
}

/* ricerce recenti */
.resultsGroup_b0286e[aria-labelledby="HISTORY-header"]>.option_b0286e:nth-child(3) {
	border-radius: 10px 10px 0 0;
}

.resultsGroup_b0286e[aria-labelledby="HISTORY-header"]>.option_b0286e:nth-child(3):last-child {
	border-radius: 10px;
}

.resultsGroup_b0286e[aria-labelledby="HISTORY-header"]>.option_b0286e:last-child {
	border-radius: 0 0 10px 10px;
}

/* filtro ricerca */
.resultsGroup_b0286e>.option_b0286e:nth-child(2),
.resultsGroup_b0286e>.option_b0286e:first-child {
	border-radius: 10px 10px 0 0;
}

.resultsGroup_b0286e>.option_b0286e:nth-child(2):last-child {
	border-radius: 10px;
}

.resultsGroup_b0286e>.option_b0286e:last-child {
	border-radius: 0 0 10px 10px;
}

/* opzioni filtro */
.resultsGroup_b0286e>.option_b0286e.user_b0286e:nth-child(2) {
	border-radius: 10px 10px 0 0;
}

.resultsGroup_b0286e>.option_b0286e.user_b0286e {
	border-radius: 0;
}

.resultsGroup_b0286e>.option_b0286e.user_b0286e:last-child {
	border-radius: 0 0 10px 10px;
}

/* scritta evidenziata */
.theme-dark .searchAnswer_b0fa94,
.theme-dark .searchFilter_b0fa94 {
	background-color: var(--search-bar-text);
}

/* --== Style Risultati ricerca ==-- */
.searchResultsWrap_c2b47d {
	border: var(--border);
	border-radius: 10px;
	background-color: var(--base-color);
}

header.searchHeader_b7c924 {
	background-color: var(--base-color);
	border-bottom: var(--border);
	border-radius: 0 0 10px 10px;
}

header.searchHeader_b7c924>div:last-child {
	border: var(--border);
	border-radius: 10px;
	background-color: var(--e);
}

.side_a0 .item_a0 {
	padding: 7px;
	margin-bottom: 0;
	border-radius: 10px;
	background-color: var(--c) !important;
}

.searchHeaderTabList_b7c924.side_a0>.item_a0.selected_a0 {
	background-color: var(--l) !important;
}

.searchHeaderTabList_b7c924.side_a0>.item_a0.selected_a0:hover {
	background-color: var(--h);
}

.searchHeaderTabList_b7c924.side_a0>.item_a0:hover {
	background-color: var(--h) !important;
}

/* pulsanti avanti indietro e generico */
.pageControl_b48941>button {
	border: var(--border);
	border-radius: 10px;
	background-color: var(--e);
}

.pageControl_b48941>button:hover {
	background-color: var(--h);
}


/* --== received messages ==-- continua da qui*/
.recentMentionsPopout_ddb5b4 {
	border: var(--border);
	border-radius: 10px;
	background-color: var(--base-color);
}

.recentMentionsPopout_ddb5b4 .header_f0cd33.header_ac90a2 {
	background-color: transparent;
	border-radius: 0 0 10px 10px;
	border-bottom: var(--border);
}

.recentMentionsPopout_ddb5b4 .channelHeader_f3978e {
	background-color: var(--h);
}

.recentMentionsPopout_ddb5b4 .container_ddb5b4,
.recentMentionsPopout_ddb5b4 .channel_d09ffd {
	background-color: var(--e);
	border-radius: 10px;
	box-shadow: 0 0 0 1px var(--rgb-highlight);
}

.recentMentionsPopout_ddb5b4 .tutorial_f1c3d9 {
	background-color: var(--e);
	border-radius: 10px;
	border: var(--border);
}

/*--== Chat ==--*/
.scroller_e2e187.auto_c49869.scrollerBase_c49869.disableScrollAnchor_c49869.managedReactiveScroller_c49869 {
	background-color: var(--base-color);
	border-radius: 10px;
	border: var(--border);
}

/* barra di nuovo messaggio */
.newMessagesBar_cf58b5.barBase_cf58b5 {
	margin-top: 1vh;
	background-color: var(--b);
	border: var(--border);
	border-radius: 10px;
}

.barButtonAlt_cf58b5 {
	border-left: none !important;
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}

.barButtonBase_cf58b5 {
	border-right: none !important;
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	color: var(--rgb-highlight);
}

.divider_d5deea {
	--divider-color: var(--rgb-highlight);
}

/* messaggi della giornata */
.content_c2654d {
	color: var(--rgb-highlight);
}

.divider_d5deea.hasContent_d5deea.divider_c2654d.hasContent_c2654d {
	background-color: var(--highlight);
}

/* stai vedendo dei vecchi messaggi */
.jumpToPresentBar_cf58b5 {
	bottom: 0;
	border-radius: 8px;
	border: var(--border);
	background-color: var(--base-color);
	padding-bottom: 0;
	margin-bottom: 10px;
	opacity: 1;
	transition: 100ms;
}

.jumpToPresentBar_cf58b5:active {
	margin-bottom: 8px;
	transition: 100ms;
}

/* tutti i tipi di menzioni e scorrimento tra i messaggi */
.message_d5deea.cozyMessage_d5deea.wrapper_f9f2ca.cozy_f9f2ca.zalgo_f9f2ca,
.mouse-mode.full-motion .message_d5deea {
	border-radius: 10px 20px 20px 10px;
	transition: 300ms;
}

.message_d5deea.cozyMessage_d5deea.wrapper_f9f2ca.cozy_f9f2ca.zalgo_f9f2ca:hover,
.mouse-mode.full-motion .message_d5deea:hover {
	background-color: var(--e);
	transition: 300ms;
}

.groupStart_d5deea.replying_d5deea.wrapper_f9f2ca.cozy_f9f2ca.zalgo_f9f2ca,
.mentioned_d5deea.groupStart_d5deea.wrapper_f9f2ca.cozy_f9f2ca.zalgo_f9f2ca,
.mentioned_d5deea.wrapper_f9f2ca.cozy_f9f2ca.zalgo_f9f2ca,
.mentioned_d5deea.groupStart_d5deea.selected_d5deea.wrapper_f9f2ca.cozy_f9f2ca,
.message_d5deea.cozyMessage_d5deea.replying_d5deea.wrapper_f9f2ca.cozy_f9f2ca.zalgo_f9f2ca {
	background-color: var(--d) !important;
	border-radius: 15px 25px 15px 25px !important;
	transition: 500ms;
}

.replying_d5deea:before,
.mentioned_d5deea:before {
	background-color: var(--rgb-highlight);
	border-radius: 10px;
	content: "";
	position: absolute;
	display: block;
	top: 8px;
	left: 4px;
	bottom: 12px;
	width: 8px;
}

.repliedMessage_f9f2ca:before {
	border-color: var(--replied-message);
}

/* --== messaggio di ping ==-- da capire */
.theme-dark .wrapper_a7c28c {
	color: var(--background-variant);
	background: var(--ping-message);
	transition: 500ms;
}

.theme-dark .wrapper_a7c28c:hover {
	color: var(--background-variant);
	background: var(--ping-message-hover);
	transition: 500ms;
}

/* --== player messaggio musica ==-- */
.wrapperAudio_f72aac.wrapper_f72aac.embedWrapper_b558d0 {
	background-color: var(--base-color);
	border-radius: 10px;
	border: var(--border);
}

.audioControls_f72aac {
	background-color: var(--c);
}

/*--== Scrivere messaggi ==--*/
.form_a7d72e {
	margin-top: -10px;
}

.form_a7d72e::before {
	display: none;
}

.clipContainer_b11c5e {
	border-top: var(--border);
	border-right: var(--border);
	border-left: var(--border);
	border-radius: 10px 10px 0px 0px;
	background: var(--base-color);
}

.replyBar_b11c5e {
	background: transparent;
}

.threadSuggestionBar_b11c5e {
	background: transparent;
	border-top: 1px solid var(--rgb-highlight);
}

.scrollableContainer_bdf0de.hasStackedBar_bdf0de {
	border-bottom: var(--border);
	border-right: var(--border);
	border-left: var(--border);
	border-radius: 0px 0px 10px 10px;
	background: var(--base-color);
}

.scrollableContainer_bdf0de {
	border: var(--border);
	border-radius: 10px;
	background: var(--base-color);
}

.slateTextArea_e52116 {
	color: var(--rgb-highlight);
}

.placeholder_a552a6 {
	color: var(--placeholder-text);
}

/* sistema appena capita */
.form_a7d72e .bar_f60904 {
	border-top: var(--border);
	border-right: var(--border);
	border-left: var(--border);
	border-radius: 10px 10px 0px 0px;
	background: var(--base-color);
}

/* strumenti messaggio */
.wrapper_f7e168 {
	background-color: var(--b);
	border-radius: 10px;
	border: var(--border);
}

.wrapper_f7e168 .button_de3e42:hover {
	background-color: var(--m);
}

.popoverReactionHoverBar_e986d9:hover {
	border: var(--border);
}


/* --== Style autocomplete tag ==-- */
.autocomplete_bcc24e.autocomplete_bea0d0.autocompleteAttached_bea0d0 {
	background-color: var(--base-color);
	border-radius: 10px;
	border: var(--border);
}

.autocomplete_bcc24e.autocomplete_bea0d0.autocompleteAttached_bea0d0>div>div::-webkit-scrollbar {
	display: none !important;
}

.scroller_bea0d0.thin_c49869.scrollerBase_c49869>.base_bcc24e {
	border-right: var(--border);
	border-left: var(--border);
	border-bottom: var(--border);
	border-radius: 0 0 10px 10px;
	margin: -1px;
}

.clickable_bcc24e.autocompleteRowVertical_bcc24e.autocompleteRow_bcc24e>.base_bcc24e:hover {
	background-color: var(--e);
	border-radius: 10px;
}

.clickable_bcc24e.autocompleteRowVertical_bcc24e.autocompleteRow_bcc24e[aria-selected="true"]>.base_bcc24e {
	background-color: var(--e);
	border-radius: 10px;
}

.clickable_bcc24e.dividerContainer_bcc24e .divider_bcc24e::after {
	background-color: var(--highlight);
}

/* --== Style autocomplete command ==-- */
.autocomplete_bcc24e.outerWrapper_fe2299 {
	border-radius: 10px;
	border: var(--border);
}

.rail_fe2299.wrapper_efd8e6 {
	background-color: var(--base-color);
	border-right: var(--border);
}

.wrapper_ba23fe {
	background-color: var(--base-color);
}

.scroller_d53d65.list_fe2299.thin_c49869.scrollerBase_c49869 {
	background-color: var(--base-color);
}

.thin_c49869.scrollerBase_c49869::-webkit-scrollbar-thumb,
.thin_c49869.scrollerBase_c49869::-webkit-scrollbar-track {
	margin: 10px 0;
	border-radius: 10px;
}

.categorySection_fe2299 {
	background-color: var(--base-color);
	border-radius: 10px;
	box-shadow: 0 0 0 1px var(--rgb-highlight);
}

.categoryHeader_fe2299 {
	background-color: var(--base-color);
	border-bottom: var(--border);
	padding: 0;
	margin: 0 8px;
}

.wrapper_e06857:after {
	display: none;
}

.categorySection_fe2299 .base_bcc24e:hover {
	background-color: var(--e) !important;
	border-radius: 10px;
}

.categorySection_fe2299>div[aria-selected="true"] .base_bcc24e {
	background-color: var(--e) !important;
	border-radius: 10px;
}


/* --== nitro gift, emoji, adesivi e gif ==-- */
/* nitro gift */
.root_b93e3f.root_f9a4c9.small_f9a4c9.fullscreenOnMobile_f9a4c9.rootWithShadow_f9a4c9>div:first-child {
	margin-top: 1px;
	border-radius: 10px 10px 0 0;
	background-image: none;
}

.root_b93e3f.root_f9a4c9.small_f9a4c9.fullscreenOnMobile_f9a4c9.rootWithShadow_f9a4c9>div {
	background-color: transparent;
}

/*gif adesivi emoji*/
.contentWrapper_af5dbb {
	background-color: var(--base-color);
	border-radius: 10px;
	border: var(--border);
}

.navList_af5dbb>button {
	background-color: var(--e);
	border-radius: 5px;
	border: var(--border);
	color: var(--highlight);
	transition-duration: .3s;
}

.navList_af5dbb>button:hover {
	background-color: var(--f);
	color: var(--highlight);
}

.wrapper_e06857,
.inspector_c3120f.inspector_c6ee36,
.container_b56bbc>div {
	background-color: var(--base-color);
}
/*da aggiungere bottone comandi a destra della casella di testo*/

/*--== MEMBRI DEL SERVER FINALMENTE (se va tutto bene si) ==-- */
/*--== lista dei membri ==--*/
.members_cbd271.thin_eed6a8::-webkit-scrollbar-track {
	padding-right: 1px;
}

.member_a31c43.member_cbd271.container_d808b0.clickable_d808b0,
.member_a31c43.member_cbd271.container_d808b0.selected_d808b0 {
	background-color: transparent;
}

.members_cbd271 {
	background-color: var(--base-color);
	border-radius: 10px;
	border: var(--border);
	padding-bottom: 24px;
	margin-right: 0px;
}

.members_cbd271.fade_eed6a8:hover::-webkit-scrollbar-thumb,
.members_cbd271.fade_eed6a8:hover::-webkit-scrollbar-track {
	margin: 10px 0;
	border-radius: 10px;
}

.members_cbd271 .membersGroup_cbd271 {
	color: var(--rgb-highlight);
	padding-top: 18px;
}

.members_cbd271 .membersGroup_cbd271>span {
	background-color: var(--e);
	border-radius: 10px;
	box-shadow: 0 0 3px 2px var(--rgb-highlight);
	padding: 2px 10px;
}

.member_a31c43.container_d808b0.clickable_d808b0>.layout_d808b0 {
	border-radius: 15px;
	margin-right: 3px;
	padding-right: 5px !important;
	transition: 0.2s;
}

.member_a31c43.container_d808b0.selected_d808b0>.layout_d808b0 {
	background-color: var(--n);
	border-radius: 15px;
	box-shadow: 0 0 0 1px var(--rgb-highlight);
	margin-right: 3px;
	padding-right: 5px !important;
}

.clickable_d808b0:hover>.layout_d808b0 {
	background-color: var(--e);
	transition: 0.2s;
}

.member_a31c43.container_d808b0.clickable_d808b0>.layout_d808b0:hover {
	background-color: var(--e);
	transition: 0.2s;
}

/* online/streaming/non disturbare/afk/offline */
rect[fill="hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)"],
rect[mask*="url(#svg-mask-status-online)"] {
	fill: var(--online-color);
}

rect[fill="hsl(262, calc(var(--saturation-factor, 1) * 46.8%), 39.8%)"],
rect[mask="url(#svg-mask-status-streaming)"] {
	fill: var(--streaming-color);
}

rect[fill="hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%)"],
rect[mask="url(#svg-mask-status-dnd)"] {
	fill: var(--dnd-color);
}

rect[fill="#faa61a"],
rect[mask*=idle] {
	fill: var(--afk-color);
}

.PI-indicatorContainer.PI-type_MemberList>div>svg[data-status="online"] {
	color: var(--online-color) !important;
}

.PI-indicatorContainer.PI-type_MemberList>div>svg[data-status="dnd"] {
	color: var(--dnd-color) !important;
}

/* --== Impostazioni ==-- */