/**
* @name LightBlue Neon Themes
* @author PrintedJungle38#7324
* @version 1.0.0
* @description A dark theme with light blue neon-y colors!
* @authorId 137259145305539072
*/

@import url(https://maendisease.github.io/BetterDiscordStuff/css/bearableInbox.css);
:root {
	--base-color: rgb(20, 26, 26);
	--rgb-highlight: rgb(0, 200, 200);
	--highlight: var(--rgb-highlight);
	--background-variant: rgb(0, 255, 255);
	--background-popup-info: rgb(18, 37, 37);
	--color-base1: rgb(0, 140, 140);
	--popup-messagge-unread: rgb(20, 40, 40);
	--linear-gradient0: rgb(0, 87, 87);
	--linear-gradient1: rgb(16, 27, 27);
	--search-bar-text: rgb(0, 50, 50);
	--ping-message: rgb(0, 100, 100);
	--ping-message-hover: rgb(0, 170, 170);
	--replied-message: rgb(0, 70, 70);
	--placeholder-text: rgb(60, 80, 80);

	--a: rgba(0, 200, 200, 0.07);
	--b: rgba(0, 200, 200, 0.2);
	--c: rgba(0, 140, 140, 0.07);
	--d: rgba(0, 200, 200, 0.1);
	--e: rgba(0, 140, 140, 0.1);
	--f: rgba(0, 140, 140, 0.3);
	--g: rgba(0, 200, 200, 0.3);
	--h: rgba(0, 140, 140, 0.2);
	--i: rgba(0, 140, 140, 0.15);
	--j: rgba(255, 40, 40, 0.2);
	--k: rgba(255, 40, 40, 0.4);
	--l: rgba(0, 140, 140, 0.4);
	--m: rgba(79, 84, 92, 0.4);
	--n: rgba(0, 180, 180, 0.1);
	--o: rgba(0, 0, 0, 0.5);

	--background: black;
	--close-button: var(--dnd-color) !important;
	--online-color: #39ff14;
	--afk-color: #FFFF33;
	--dnd-color: #FF0000;
	--streaming-color: #bc13fe;
	--rs-online-color: var(--online-color);
	--rs-idle-color: var(--afk-color);
	--rs-dnd-color: var(--dnd-color);
	--rs-offline-color: gray;
	--rs-invisible-color: gray;
	--rs-streaming-color: var(--stream-color);
	--interactive-hover: var(--highlight);
	--interactive-active: var(--highlight);
	--text-link: var(--highlight);
	--bdfdb-blurple: var(--highlight);
	--logo-primary: var(--highlight);
	--focus-primary: var(--highlight);
	--radio-group-dot-foreground: var(--highlight);
	--scrollbar-thin-thumb: var(--highlight);
	--scrollbar-auto-thumb: var(--highlight);
	--scrollbar-auto-scrollbar-color-thumb: var(--highlight);
	--scrollbar-thin-track: var(--background);
	--scrollbar-auto-track: var(--background);
	--scrollbar-auto-scrollbar-color-track: var(--background);
	--activity-card-background: var(--background);
	--background-primary: var(--background);
	--background-mobile-primary: var(--background);
	--background-secondary: var(--background);
	--background-mobile-secondary: var(--background);
	--background-secondary-alt: var(--background);
	--background-tertiary: var(--background);
	--background-accent: var(--background);
	--background-floating: var(--background);
	--channeltextarea-background: var(--background);
	--textbox-markdown-syntax: var(--background);
	--border: 1px solid var(--rgb-highlight);
}
/* --== NAME ==-- */
/* puoi inserire anche tu il tuo nome che fa effetti speciali scrivendo il tuo data-author-id qui sotto*/
							/*        \v/        */
.contents_f41bb2>img[src="https://cdn.discordapp.com/avatars/564193757571055636/68b050e7467ebbe0e3e3381f947d7b2f.webp?size=80"] ~ .header__39b23
.username_d30d99.desaturateUserColors_b72bd3.clickable_d866f1 {
	animation: show 2.5s linear;
	animation-iteration-count: infinite;
}

@keyframes show{
	100%,0% { color: rgb(0, 255, 255); }
	50%{ color: rgb(0,0,255); }
}

/* --== Style discord bar ==-- */
.appMount_fae9dd>div:nth-child(4) {
	margin: 1px 1px 0;
	height: min-content;
	border-radius: 10px;
	box-shadow: 0 0 0 1px var(--rgb-highlight);
	background-color: var(--base-color);
}

.wordmarkWindows-2dq6rw.wordmark-2u86JB>svg>g>path {
	fill: var(--highlight);
}

.appMount_fae9dd>div:nth-child(4)>div:nth-child(n+2) {
	top: 0;
}

.appMount_fae9dd>div:nth-child(4)>div:nth-child(2) {
	color: red;
	transition: 500ms;
	border-radius: 0 10px 10px 0;
}

.appMount_fae9dd>div:nth-child(4)>div:nth-child(2):hover {
	background-color: red;
	color: black;
	transition: 500ms;
}

/* right click */
[class="menu-2TXYjN flexible-3B4jwn"] {/*da risolvere*/
	background-color: var(--base-color);
	border-radius: 10px;
	border: var(--border);
}

[class="submenu-3ycVEH menu-2TXYjN"] {
	background-color: var(--base-color);
	border-radius: 10px;
	border: var(--border);
}

/* --== Server List ==-- */
.tooltip-14MtrL {
	pointer-events: all;
}

.scroller__3d071.none__51a8f.scrollerBase_dc3aa9 {
	background-color: var(--base-color);
	border-radius: 10px;
	border: var(--border);
}

.scroller__3d071.none__51a8f.scrollerBase_dc3aa9>.listItem-3SmSlK>.guildSeparator-a4uisj {
	border-radius: 10px;
	height: 5px;
	width: 40px;
	background-color: var(--background-variant);
}

/* --== linea accanto al logo discord ==-- */
.listItem_fa7b36:hover>div>.item_f9d377,
.item_f9d377[style="opacity: 1; height: 40px; transform: none;"] {
	background-color: var(--background-variant);
}

/* messaggio info */
.layer_ec16dd.disabledPointerEvents_bb5546>div {
	background: transparent !important;
}

.layer_ec16dd.disabledPointerEvents_bb5546 .tooltipPointer_a79354 {
	border-top-color: var(--rgb-highlight);
}

.layer_ec16dd.disabledPointerEvents_bb5546 .tooltipContent__79a2d {
	background-color: var(--background-popup-info);
	border-radius: 10px;
	border: var(--border);
}

/* creare canale */
.focusLock__10aa5>.root_a28985:not(:has(.quickswitcher_a3d29a)){
	background-color: var(--base-color) !important;
	border: var(--border);
	border-radius: 10px;
	margin: 0;
	padding: 0;
}

.closeIcon__5bab9 { color: red; }
.scrollbarGhostHairline_c9a45f::-webkit-scrollbar { display: none; }
.theme-dark .rootWithShadow__073a7 {
	box-shadow: none;
}

/*tipo di canale*/
.focusLock__10aa5 .thin_b1c063::-webkit-scrollbar { display: none; }
.content__764ce { padding: 0 16px !important; }
.type__60a50 .item_b7fb7e {
	border-radius: 10px;
	border: var(--border);
	color: var(--background-variant);
}
.type__60a50 .item_b7fb7e.itemFilled__373d7 { background-color: var(--a); }
.type__60a50 .item_b7fb7e.itemFilled__373d7:hover { background-color: var(--d); }
.type__60a50 .item_b7fb7e[aria-checked=true] { background-color: var(--f); }
.type__60a50 .item_b7fb7e[aria-checked=true]:hover { background-color: var(--f) !important; }

/*nome del canale*/
.inputDefault__80165.input_d266e7.inputInner__34c88 {
	background-color: var(--a) !important;
	color: var(--rgb-highlight);
	border-radius: 10px;
	border: var(--border);
}

/*bottom popup*/
.modalFooter__6a783 { border-radius: 0; }
.theme-dark .footerSeparator__57d95 { box-shadow: none; }
.footer__89240 { background-color: var(--a); }


/* --== Crea un Server ==-- */
.focusLock__10aa5 .container__0d1a7 .text-md-normal__4afad,
.focusLock__10aa5 .container__0d1a7 .text-sm-normal_e612c7,
.focusLock__10aa5 .container__0d1a7 .sampleLink__771c4,
.focusLock__10aa5 .container__0d1a7 .text-xs-bold_c1eb0a {
	color: var(--rgb-highlight) !important;
}

.focusLock__10aa5 .container__73245 {
	color: var(--rgb-highlight);
	background-color: var(--a);
	border: var(--border);
	border-radius: 8px;
	transition: 200ms;
}

.focusLock__10aa5 .container__73245:hover {
	background-color: var(--b);
	transition: 200ms;
}

.focusLock__10aa5 .arrow__5e540 {
	filter: invert(74%) sepia(57%) saturate(1000%) hue-rotate(141deg) brightness(100%) contrast(100%);
}

.focusLock__10aa5 .container__0d1a7 .inputDefault__80165 {
	background-color: var(--a);
	color: var(--rgb-highlight);
	border-radius: 10px;
	border: var(--border);
}

.input_d266e7 {
	background-color: transparent;
}

/* --== Style server explorer ==-- */
/* pannello scopri */
.sidebar_ded4b5>.thin_b1c063.scrollerBase_dc3aa9 {
	background-color: var(--base-color);
	border-radius: 10px;
	border: var(--border);
}

.sidebar_ded4b5>.thin_b1c063.scrollerBase_dc3aa9::-webkit-scrollbar {
	display: none;
}

.sidebar_ded4b5>.thin_b1c063.scrollerBase_dc3aa9>div {
	margin: 0 8px;
	padding: 0;
	padding-bottom: 5px;
}

.sidebar_ded4b5>.thin_b1c063.scrollerBase_dc3aa9>div>div {
	background-color: var(--e);
	border-radius: 10px;
	border: var(--border);
	transition: 0.2s;
}

.sidebar_ded4b5>.thin_b1c063.scrollerBase_dc3aa9>div>div:hover {
	background-color: var(--f);
	padding-left: 13px;
	transition: 0.2s;
}

.sidebar_ded4b5>.thin_b1c063.scrollerBase_dc3aa9>.selectedCategoryItem__0bf4c>div {
	background-color: var(--g) !important;
	padding-left: 13px;
}

.sidebar_ded4b5>.thin_b1c063.scrollerBase_dc3aa9>.selectedCategoryItem__0bf4c>div:hover {
	background-color: var(--g) !important;
	padding-left: 16px !important;
}

/* menu server explorer */
.pageWrapper_fef757 {
	background-color: transparent !important;
}

.pageWrapper_fef757>div:nth-child(2) {
	background-color: var(--base-color);
	border-radius: 10px;
	border: var(--border);
	padding-top: 0;
}

/* trova la community */
.pageWrapper_fef757>div:nth-child(2) .searchHeader_d4db5a {
	margin: 32px;
	margin-left: 0;
}

/* community in evidenza */
.pageWrapper_fef757>div:nth-child(2) .guildListSection__7daf6 {
	background-color: var(--h);
	border-radius: 10px;
	border: var(--border);
	margin: -21px;
	padding: 5px;
}

.pageWrapper_fef757>div:nth-child(2) .guildList__5e642 .card__86773:hover {
	box-shadow: 0 0 10px var(--rgb-highlight);
}

/* --== chat DM ==-- */
::selection {
	background: var(--rgb-highlight);
	color: black;
}

.privateChannels__93473 {
	background-color: var(--base-color);
	border-radius: 10px;
	border: var(--border);
}

.scroller__4b984.thin_b1c063.scrollerBase_dc3aa9.fade_ba0fa0 {
	background: transparent;
}

.scroller__4b984.thin_b1c063.scrollerBase_dc3aa9.fade_ba0fa0:hover::-webkit-scrollbar-thumb,
.scroller__4b984.thin_b1c063.scrollerBase_dc3aa9.fade_ba0fa0:hover::-webkit-scrollbar-track {
	margin: 10px 0;
	border-radius: 10px;
}

.interactive__776ee.interactive_a868bc.interactiveSelected_ec846b.selected_d94cf9 {
	background-color: var(--f);
	border-radius: 10px;
}

.interactive__776ee.interactive_a868bc.linkButton_ebd2ba.interactiveSelected_ec846b.selected_d94cf9 {
	background-color: var(--h);
	border-radius: 10px;
}

.interactive__776ee:focus-within, .interactive__776ee:hover {
	background-color: var(--h);
	border-radius: 10px;
}

/* --== Style the "Find or start a conversation" button (finally) ==-- */
.searchBar_e4ea2a {
	box-shadow: none;
}

.searchBar_e4ea2a .searchBarComponent__22760 {
	background-color: var(--e);
	border: var(--border);
	border-radius: 5px;
	display: flex;
	justify-content: center;
	color: var(--highlight);
	transition-duration: .3s;
}

.searchBar_e4ea2a .searchBarComponent__22760:hover {
	background-color: var(--f);
}

/* --== Style "Find or start a conversation" pop-up ==-- */
.layer_ad604d .quickswitcher_a3d29a {
	border: var(--border);
	border-radius: 10px !important;
	background-color: var(--base-color);
}

.quickswitcher_a3d29a .input__848cd {
	background-color: var(--e);
	border-radius: 10px;
}

.quickswitcher_a3d29a>div:nth-child(2)::-webkit-scrollbar {
	display: none;
}

.quickswitcher_a3d29a>div:nth-child(2) {
	margin-right: 0;
	background-color: transparent;
}

.result__25f11[aria-selected="true"] {
	background-color: var(--f) !important;
	background: var(--f);
}

/* .quickswitcher_a3d29a .content__23cab .result__25f11#quick-switcher-uid_7038-item-1:nth-child(3) */
.quickswitcher_a3d29a .content__23cab div:nth-child(2):not(.result__25f11) ~ .result__25f11:nth-child(3) {
	border-radius: 10px 10px 0 0;
	border-top: var(--border);
	border-right: var(--border);
	border-left: var(--border);
}

.quickswitcher_a3d29a .content__23cab .result__25f11:nth-child(2) {
	border-radius: 10px 10px 0 0;
	border-top: var(--border);
	border-right: var(--border);
	border-left: var(--border);
}

.quickswitcher_a3d29a .result__25f11 {
	border-radius: 0;
	background-color: var(--e);
	border-right: var(--border);
	border-left: var(--border);
}

.quickswitcher_a3d29a .result__25f11:nth-child(2):last-child {
	border-radius: 10px !important;
	border: var(--border) !important;
}

.quickswitcher_a3d29a .result__25f11:last-child {
	border-radius: 0 0 10px 10px;
	border-bottom: var(--border);
	border-right: var(--border);
	border-left: var(--border);
}

.protip__84833.hasContent__6eae1 {
	border-top: 0;
}

/* --== nitro ==-- */
.applicationStore_fc7d76 {
	background-color: transparent;
}

.applicationStore_fc7d76 .headerBar_afb1ac {
	background-color: var(--base-color);
	border-radius: 10px;
	border: var(--border);
}

.applicationStore_fc7d76 .scroller_a1aadd.auto_a48086.scrollerBase_dc3aa9 {
	background-color: var(--base-color);
	border-radius: 10px;
	border: var(--border);
}

/* --== Style the Friends page ==-- */
.container__5c7e7 {
	background-color: transparent !important;
}

/* --== menu profilo ==-- */
.panels__58331 {
	background-color: var(--base-color);
	border-radius: 10px;
	border: var(--border);
}

.theme-dark .panel-2ZFCRb, .container_ca50b9, .container_d667ff {
	background: none !important;
	border-bottom: none;
}

.actionButtons_b58cbb button {
	background-color: var(--i) !important;
	border-radius: 10px;
	border: var(--border);
}

.avatarWrapper_ba5175.withTagAsButton_cc125f:hover {
	background-color: var(--a);
	border-radius: 10px;
	box-shadow: 0 0 0 1px var(--rgb-highlight);
}

/* --== amici online, preferiti ecc ==-- */
.container__5c7e7 .theme-dark.container__11d72.themed_b152d4 {
	background-color: var(--base-color);
	border: var(--border);
	border-radius: 10px;
}

.children__32014 {
	overflow: scroll hidden;
}

.children__32014::-webkit-scrollbar {
	display: none;
}
/*capire cosa è*/
.container__5c7e7 .icon__4cb88 path {
	color: var(--highlight);
}

.topPill__0cdf1 .item__48dda {
	background-color: var(--e) !important;
	border: var(--border);
	color: var(--highlight) !important;
}

.topPill__0cdf1 .item__48dda:hover {
	background-color: var(--f) !important;
}

.children__32014:after {
	content: "";
	position: static;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
}

/* persone online */
.peopleColumn__51df3 {
	background-color: var(--base-color);
	border: var(--border);
	border-radius: 10px;
}

.peopleColumn__51df3 .searchBar_ff8800.container__7712a.medium__0fb5d {
	background-color: var(--e);
	border: var(--border);
	border-radius: 10px;
}

.peopleListItem_d14722.active-2UF8Zh+.peopleListItem_d14722,
.peopleListItem_d14722:hover+.peopleListItem_d14722,
.peopleListItem_d14722,
.peopleListItem_d14722.active-2UF8Zh,
.peopleListItem_d14722:hover {
	background-color: var(--e);
	border-radius: 10px;
	border: var(--border);
	transition: 200ms;
}

.listItemContents__7c940 {
	padding-right: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}

.peopleListItem_d14722.active-2UF8Zh,
.peopleListItem_d14722:hover {
	background-color:var(--i);
	margin-top: 6px;
	margin-bottom: 10px;
	padding-right: 0;
	padding-left: 0;
}

/* --== attivi ora ==-- */
.nowPlayingColumn_f5023f .scroller__00e7e.thin_b1c063.scrollerBase_dc3aa9 {
	background-color: var(--base-color);
	border-radius: 10px;
	border: var(--border);
	margin-left: 0 !important;
}

.nowPlayingColumn_f5023f .scroller__00e7e.thin_b1c063.scrollerBase_dc3aa9::-webkit-scrollbar-thumb,
.nowPlayingColumn_f5023f .scroller__00e7e.thin_b1c063.scrollerBase_dc3aa9::-webkit-scrollbar-track {
	visibility: hidden;
}

.nowPlayingColumn_f5023f .itemCard__1f162 {
	background-color: var(--e);
	border-radius: 10px;
	border: var(--border);
	transition: 0.3s;
}

.nowPlayingColumn_f5023f .itemCard__1f162:hover {
	background-color: var(--i) !important;
	transition: 0.3s;
}

.nowPlayingColumn_f5023f .body__83069.inset__0bfb3 {
	border: var(--border);
	background-color: var(--c);
}

.nowPlayingColumn_f5023f .separator_c2ecc6 {
	background-color: var(--rgb-highlight);
}

.nowPlayingColumn_f5023f .section_efc22d {
	background-color: var(--c);
}

/* --== Chat server ==-- */
/* --== Nome server ==-- */
.container__590e2 .header__104ca:only-child {
	background-color: var(--base-color) !important;
	border-radius: 10px;
	border: var(--border);
}

.container__590e2 .header__104ca:only-child:hover,
.container__590e2.selected__0b1ad .header__104ca:only-child {
	background-color: var(--h) !important;
}

/* Potenziamento server */
.root__6d24f.enterDone_a21e0b {
	padding-top: 24px;
}

/* --== Canali server ==-- */
.container__590e2 .scroller_f0f183.thin_b1c063.scrollerBase_dc3aa9.fade_ba0fa0 {
	background-color: var(--base-color);
	border-radius: 10px;
	border: var(--border);
}

.container__590e2 .scroller_f0f183.thin_b1c063.scrollerBase_dc3aa9.fade_ba0fa0::-webkit-scrollbar-thumb,
.container__590e2 .scroller_f0f183.thin_b1c063.scrollerBase_dc3aa9.fade_ba0fa0::-webkit-scrollbar-track {
	margin: 10px 0;
	border-radius: 10px;
}

.container__590e2 .unreadTop__6e8c4>div,
.container__590e2 .unreadBottom__6be9f>div {
	background-color: var(--base-color);
	border-radius: 10px;
	border: var(--border);
	transition: 0.2s;
	opacity: 1;
}

.container__590e2 .unreadTop__6e8c4>div:hover,
.container__590e2 .unreadBottom__6be9f>div:hover {
	background-color: var(--popup-messagge-unread);
	transition: 0.2s;
}

/* info canale vocale connesso da capire */
.layers_a23c37 .container-8Futzw.thin-31rlnD.scrollerBase-_bVAAt::-webkit-scrollbar-thumb,
.layers_a23c37 .container-8Futzw.thin-31rlnD.scrollerBase-_bVAAt::-webkit-scrollbar-track {
	visibility: hidden;
}

/* canali */
.container__590e2 .containerDefault__3187b .iconVisibility__62ab5 {
	padding: 0;
}

.container__590e2 .containerDefault__3187b .link__95dc0 {
	transition: all .2s ease;
	margin-right: 1px;
	border-radius: 10px;
}

/* canale selezionato */
.containerDefault__3187b div .modeSelected__487d6 .link__95dc0,
.containerDefault__3187b.selected__3b4cb div .link__95dc0 {
	background-color: var(--e);
	padding-left: 15px;
}

.containerDefault__3187b div .modeSelected__487d6 .link__95dc0:hover,
.containerDefault__3187b.selected__3b4cb div .link__95dc0:hover {
	padding-left: 18px;
}

/* passaggio del cursore sopra canale generico */
.containerDefault__3187b .wrapper__7bcde:hover .link__95dc0 {
	transition: all .2s ease;
	background-color: var(--e);
	padding-left: 12px;
}

/* passaggio del cursore sopra canale con messaggio da leggere */
.containerDefault__3187b .wrapper__7bcde:hover .unread__48cf4 ~ div>.link__95dc0 {
	padding-left: 15px;
}

/* canale con messaggio da leggere */
.containerDefault__3187b .wrapper__7bcde:hover .unread__48cf4::before {
	top: -6px;
	visibility: visible;
}

.containerDefault__3187b .wrapper__7bcde .unread__48cf4 {
	transition: 0.2s;
}

.containerDefault__3187b .wrapper__7bcde:hover .unread__48cf4 {
	border-radius: 10px;
	top: 6px;
	left: 5px;
	bottom: 6px;
	width: 6px;
	height: 20px;
	margin-top: 0;
	transition: 0.2s;
}

/* canale con menzione da leggere */
.containerDefault__3187b .wrapper__7bcde .children_a486f8>.channelInfo_b7ab2e>div>div {
	background-color: var(--rgb-highlight) !important;
	color: black;
}
/*codice di riserva capire cosa serve*/
/* background 
*/
/* canale connesso */
.containerDefault__3187b .modeConnected__1c02e .link__95dc0 {
	background-color: var(--e);
	padding-left: 12px;
}

/* canale connesso selezionato */
.containerDefault__3187b .modeSelected__487d6 .link__95dc0::after {
	background-color: var(--rgb-highlight);
	border-radius: 10px;
	content: "";
	position: absolute;
	display: block;
	top: 6px;
	left: 5px;
	bottom: 6px;
	width: 6px;
}

/* background canale connesso selezionato */
.containerDefault__3187b.selected__3b4cb .modeSelected__487d6 .link__95dc0::before,
.containerDefault__3187b div .modeSelected__487d6 a::before {
	content: "";
	position: absolute;
	left: 0px;
	top: 0;
	height: 100%;
	width: 60px;
	border-radius: 10px 0 0 10px;
	background: linear-gradient(to right, var(--linear-gradient0), var(--background-popup-info));
}

/* numero dei membri vc */
.containerDefault__3187b .channelInfo_b7ab2e .users__65981 {
	justify-content: center;
	background-color: var(--rgb-highlight);
	color: black;
	padding: 0;
	width: 25px;
}

.containerDefault__3187b .channelInfo_b7ab2e .total_c01838 {
	justify-content: center;
	background-color: black;
	color: var(--rgb-highlight);
	padding: 0;
	width: 25px;
}

.containerDefault__3187b .channelInfo_b7ab2e .total_c01838:after {
	content: "";
	position: absolute;
	top: 0px;
	left: -5px;
	width: 8px;
	height: 18px;
	border: 1px solid;
	border-color: transparent;
	border-right-color: black;
	border-left-color: var(--rgb-highlight);
	background: linear-gradient(to right, var(--rgb-highlight), black)
}
/*continua qui*/
/* --== eliminare canale ==-- */
.layer_ad604d>div>div>div:last-child>.lookFilled-1H2Jvj.colorRed-2VFhM4 {
	border-radius: 10px;
	border: var(--border);
	background-color: var(--j);
}

.layer_ad604d>div>div>div:last-child>.lookFilled-1H2Jvj.colorRed-2VFhM4:hover {
	border-radius: 10px;
	border: var(--border);
	background-color: var(--k);
}

/* --== server title, channel, Thread, pinned message and other ==-- */
.chat-2ZfjoI .container-ZMc96U.themed-Hp1KC_ {
	background-color: var(--base-color);
	border-radius: 10px;
	border: var(--border);
	height: 50px;
}

.divider-q3P9HC {
	background-color: var(--rgb-highlight);
}

.layer_ad604d .content-2hZxGK.content-FDHp32.selectable.thin-31rlnD.scrollerBase-_bVAAt::-webkit-scrollbar-thumb,
.layer_ad604d .content-2hZxGK.content-FDHp32.selectable.thin-31rlnD.scrollerBase-_bVAAt::-webkit-scrollbar-track {
	display: none;
}

/* Thread */
.browser-mnQ1T7.container-18GwIk {
	background-color: var(--base-color);
	border-radius: 10px;
	border: var(--border);
}

.browser-mnQ1T7.container-18GwIk .header-3_zmOb {
	background-color: transparent;
	border-radius: 0 0 8px 8px;
	border-bottom: var(--border);
}

.closeIcon-11tHJX {
	color: darkred !important;
	transition: 0.4s;
}

.closeIcon-11tHJX:hover {
	color: red !important;
	transition: 0.4s;
}

/* --== crea nuovo thread ==-- */
.container-3XgAHv.floating-3M3WeH {
	background-color: transparent !important;
	border-left: none;
}

.chatLayerWrapper-2mgEK- .container-ZMc96U.themed-Hp1KC_,
.chatLayerWrapper-2mgEK- .chat-1rZYgu {
	border: var(--border);
	background-color: var(--base-color);
}

.chatLayerWrapper-2mgEK- .container-ZMc96U.themed-Hp1KC_ {
	border-radius: 10px 10px 0 0;
}

.chatLayerWrapper-2mgEK- .chat-1rZYgu {
	border-radius: 0 0 10px 10px;
	border-top: none;
}

.chatLayerWrapper-2mgEK- .inputDefault-3FGxgL.input-2g-os5 {
	background-color: var(--e);
	border-radius: 10px;
	border: var(--border);
}

.chatLayerWrapper-2mgEK- .toolbar-3_r2xA>div:last-child .icon-2xnN2Y {
	color: darkred !important;
	transition: 0.4s;
}

.chatLayerWrapper-2mgEK- .toolbar-3_r2xA>div:last-child .icon-2xnN2Y:hover {
	color: red !important;
	transition: 0.4s;
}

.chatLayerWrapper-2mgEK- .channelTextAreaInner-ITp5kW.scrollableContainer-15eg7h.webkit-QgSAqd {
	background: var(--e);
}

/* --== pinned message ==-- */
.messagesPopoutWrap-3zryHW {
	background-color: var(--base-color);
	border-radius: 10px;
	border: var(--border);
}

.messagesPopoutWrap-3zryHW .header-1w9Q93 {
	background-color: transparent;
	border-radius: 0 0 8px 8px;
	box-shadow: none;
	border-bottom: var(--border);
}

.messagesPopoutWrap-3zryHW>div:nth-child(2) {
	padding-right: 4px !important;
}

.messagesPopoutWrap-3zryHW .messageGroupWrapper-1jf_7C {
	background-color: var(--c);
	border-radius: 10px;
	border: var(--border);
}

.layer_ad604d .wrapper-2bCXfR {
	background-color: var(--base-color);
	border-radius: 10px !important;
	border: var(--border);
}

.messageAttachment-CZp8Iv.messageAttachmentNoJustify-lIzP9c .imageContainer-10XenG>div {
	box-shadow: 0 0 4px 2px var(--f);
}

/* --== barra di ricerca nel server ==-- */
.toolbar-3_r2xA .searchBar-jGtisZ {
	background-color: var(--e);
	border: var(--border);
	border-radius: 6px;
}	

/* --== opzioni di ricerca ==-- */
.container-2McqkF.elevationBorderHigh-3drnJX {
	border: var(--border);
	border-radius: 10px;
	background-color: var(--base-color);
}

.container-2McqkF.elevationBorderHigh-3drnJX:empty {
	display: none;
}

.container-2McqkF.elevationBorderHigh-3drnJX>.queryContainer-ZunrLZ.focused-2FU0YH {
	background-color: var(--base-color);
}

.theme-dark .option-ayUoaq:after {
	display: none;
}

/* selezione ricerca */
.resultsGroup-cfY57t>.option-ayUoaq[group="SEARCH_OPTIONS"]:nth-child(3) {
	border-radius: 10px 10px 0 0;
}

.resultsGroup-cfY57t>.option-ayUoaq {
	background-color: var(--e);
	transition: 0.4s;
	border-radius: 0;
}

.resultsGroup-cfY57t>.option-ayUoaq[aria-selected="true"],
.resultsGroup-cfY57t>.option-ayUoaq:hover {
	background-color: var(--h);
	transition: 0.4s;
}

.resultsGroup-cfY57t>.option-ayUoaq[group="SEARCH_OPTIONS"]:last-child {
	border-radius: 0 0 10px 10px;
}

/* barra cronologia */
.resultsGroup-cfY57t::before {
	border-top: var(--border);
}

/* cestino */
.searchClearHistory-3nIKUO {
	color: darkred !important;
	transition: 0.4s;
}

.searchClearHistory-3nIKUO:hover {
	color: red !important;
	transition: 0.4s;
}

/* ricerce recenti */
.resultsGroup-cfY57t[aria-labelledby="HISTORY-header"]>.option-ayUoaq:nth-child(3) {
	border-radius: 10px 10px 0 0;
}

.resultsGroup-cfY57t[aria-labelledby="HISTORY-header"]>.option-ayUoaq:nth-child(3):last-child {
	border-radius: 10px;
}

.resultsGroup-cfY57t[aria-labelledby="HISTORY-header"]>.option-ayUoaq:last-child {
	border-radius: 0 0 10px 10px;
}

/* filtro ricerca */
.resultsGroup-cfY57t>.option-ayUoaq:nth-child(2),
.resultsGroup-cfY57t>.option-ayUoaq:first-child {
	border-radius: 10px 10px 0 0;
}

.resultsGroup-cfY57t>.option-ayUoaq:last-child {
	border-radius: 0 0 10px 10px;
}

/* opzioni filtro */
.resultsGroup-cfY57t>.option-ayUoaq.user-1dKxvu:nth-child(2) {
	border-radius: 10px 10px 0 0;
}

.resultsGroup-cfY57t>.option-ayUoaq.user-1dKxvu {
	border-radius: 0;
}

.resultsGroup-cfY57t>.option-ayUoaq.user-1dKxvu:last-child {
	border-radius: 0 0 10px 10px;
}

/* scritta evidenziata */
.theme-dark .searchAnswer-23w-CH,
.theme-dark .searchFilter-2UfsDk {
	background-color: var(--search-bar-text);
}

/* --== Style Risultati ricerca ==-- */
.searchResultsWrap-5RVOkx {
	border: var(--border);
	border-radius: 10px;
	background-color: var(--base-color);
}

header.searchHeader-1r_ZSh {
	background-color: var(--base-color);
	border-bottom: var(--border);
	border-radius: 0 0 8px 8px;
}

header.searchHeader-1r_ZSh>div:last-child {
	border: var(--border);
	border-radius: 10px;
	background-color: var(--e);
}

.side-2ur1Qk .item-3XjbnG {
	padding: 7px;
	margin-bottom: 0;
	border-radius: 10px;
}

.searchHeaderTabList-3CZMQB.side-2ur1Qk>.item-3XjbnG.selected-g-kMVV {
	background-color: var(--l) !important;
}

.searchHeaderTabList-3CZMQB.side-2ur1Qk>.item-3XjbnG.selected-g-kMVV:hover {
	background-color: var(--h);
}

.searchHeaderTabList-3CZMQB.side-2ur1Qk>.item-3XjbnG:hover {
	background-color: var(--h) !important;
}

/* lobby */
.searchResultsWrap-5RVOkx:last-child .text-md-normal__4afad.channelName-3w2Y3c {
	background-color: transparent;
}

/* pulsanti avanti indietro e generico */
.pageControl-1XvHg0>button {
	border: var(--border);
	border-radius: 10px;
	background-color: var(--e);
}

.pageControl-1XvHg0>button:hover {
	background-color: var(--h);
}

/* --== received messages ==-- */
.recentMentionsPopout-2bI1ZN {
	border: var(--border);
	border-radius: 10px;
	background-color: var(--base-color);
}

.recentMentionsPopout-2bI1ZN .header-145e10.header-1w9Q93 {
	background-color: transparent;
	border-radius: 0 0 10px 10px;
	border-bottom: var(--border);
}

.recentMentionsPopout-2bI1ZN .channelHeader-DFRX8q {
	background-color: var(--h);
}

.recentMentionsPopout-2bI1ZN .container-iA3Qrz,
.recentMentionsPopout-2bI1ZN .channel-3NJZ1V {
	background-color: var(--e);
	border-radius: 10px;
	box-shadow: 0 0 0 1px var(--rgb-highlight);
}

.recentMentionsPopout-2bI1ZN .tutorial-Nb3Zz5 {
	background-color: var(--e);
	border-radius: 10px;
	border: var(--border);
}

/*--== Chat ==--*/
.scroller-kQBbkU.auto-2TJ1RH.scrollerBase-1Pkza4.disableScrollAnchor-3Jzgzl.managedReactiveScroller-1LjJZ5 {
	background-color: var(--base-color);
	border-radius: 10px;
	border: var(--border);
}

/* barra di nuovo messaggio */
.newMessagesBar-1hF-9G.barBase-3xxDXu {
	margin-top: 1vh;
	background-color: var(--b);
	border: var(--border);
	border-radius: 10px;
}

.barButtonAlt-TQoCdZ {
	border-left: none !important;
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}

.barButtonBase-Sk2mdB {
	border-right: none !important;
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	color: var(--rgb-highlight);
}

.divider-2rZFJK {
	--divider-color: var(--rgb-highlight);
}

/* messaggi della giornata */
.content-3spvdd {
	color: var(--rgb-highlight);
}

.divider-IqmEqJ.hasContent-1y12-u.divider-2rZFJK.hasContent-31hcsn {
	background-color: var(--highlight);
}

/* stai vedendo dei vecchi messaggi */
.jumpToPresentBar-1cEnH0 {
	bottom: 0;
	border-radius: 8px;
	border: var(--border);
	background-color: var(--base-color);
	padding-bottom: 0;
	margin-bottom: 10px;
	opacity: 1;
}

.jumpToPresentBar-1cEnH0:active {
	margin-bottom: 8px;
}

/* tutti i tipi di menzioni e scorrimento tra i messaggi */
.message-2CShn3.cozyMessage-1DWF9U.wrapper-30-Nkg.cozy-VmLDNB.zalgo-26OfGz,
.mouse-mode.full-motion .message-2qnXI6{
	border-radius: 10px 20px 20px 10px;
	transition: 300ms;
}

.message-2CShn3.cozyMessage-1DWF9U.wrapper-30-Nkg.cozy-VmLDNB.zalgo-26OfGz:hover,
.mouse-mode.full-motion .message-2qnXI6:hover {
	background-color: var(--e);
	border-radius: 10px 20px 20px 10px;
	transition: 300ms;
}

.groupStart-3Mlgv1.replying-eZ7p5z.wrapper-30-Nkg.cozy-VmLDNB.zalgo-26OfGz,
.mentioned-Tre-dv.groupStart-3Mlgv1.wrapper-30-Nkg.cozy-VmLDNB.zalgo-26OfGz,
.mentioned-Tre-dv.wrapper-30-Nkg.cozy-VmLDNB.zalgo-26OfGz,
.mentioned-Tre-dv.groupStart-3Mlgv1.selected-2LX7Jy.wrapper-30-Nkg.cozy-VmLDNB,
.message-2CShn3.cozyMessage-1DWF9U.replying-eZ7p5z.wrapper-30-Nkg.cozy-VmLDNB.zalgo-26OfGz {
	background-color: var(--d) !important;
	border-radius: 15px 25px 15px 25px !important;
	transition: 500ms;
}

.replying-eZ7p5z:before,
.mentioned-Tre-dv:before {
	background-color: var(--rgb-highlight);
	border-radius: 10px;
	content: "";
	position: absolute;
	display: block;
	top: 8px;
	left: 4px;
	bottom: 12px;
	width: 8px;
}

.repliedMessage-3Z6XBG:before {
	border-color: var(--replied-message);
}

/* --== messaggio di ping ==-- */
.theme-dark .wrapper-1ZcZW- {
	color: var(--background-variant);
	background: var(--ping-message);
	transition: 500ms;
}

.theme-dark .wrapper-1ZcZW-:hover {
	color: var(--background-variant);
	background: var(--ping-message-hover);
	transition: 500ms;
}

/*--== player messaggio musica ==--*/
.wrapperAudio-1Bzv_Z.wrapper-1FP9YQ.embedWrapper-1MtIDg {
	background-color: var(--base-color);
	border-radius: 10px;
	border: var(--border);
}

.audioControls-3fmemK {
	background-color: var(--c);
}

/*--== Scrivere messaggi ==--*/
.form-3gdLxP {
	margin-top: -10px;
}

.form-3gdLxP::before {
	display: none;
}

.clipContainer-31nYlH {
	border-top: var(--border);
	border-right: var(--border);
	border-left: var(--border);
	border-radius: 10px 10px 0px 0px;
	background: var(--base-color);
}

.replyBar-1oi75v {
	background: transparent;
}

.threadSuggestionBar-3ExSyc {
	background: transparent;
	border-top: 1px solid var(--rgb-highlight);
}

.scrollableContainer-15eg7h.webkit-QgSAqd.hasConnectedBar-1vN2JH {
	border-bottom: var(--border);
	border-right: var(--border);
	border-left: var(--border);
	border-radius: 0px 0px 10px 10px;
	background: var(--base-color);
}

.scrollableContainer-15eg7h.webkit-QgSAqd {
	border: var(--border);
	border-radius: 10px;
	background: var(--base-color);
}

.slateTextArea-27tjG0 {
	color: var(--rgb-highlight);
}

.placeholder-1rCBhr {
	color: var(--placeholder-text);
}

.form-3gdLxP .bar-2MWHzg {
	border-top: var(--border);
	border-right: var(--border);
	border-left: var(--border);
	border-radius: 10px 10px 0px 0px;
	background: var(--base-color);
}

/* strumenti messaggio */
.wrapper-2vIMkT,
.toolbar-37BrJ5 {
	background-color: var(--b);
	border-radius: 10px;
	border: var(--border);
}

.toolbar-37BrJ5 .button-lA2rvH:first-of-type {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.toolbar-37BrJ5 .button-lA2rvH:last-of-type {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.toolbar-37BrJ5 .button-lA2rvH:hover {
	background-color: var(--m);
}

.toolbar-37BrJ5 .button-lA2rvH:hover>.contents-3ca1mk>svg {
	color: var(--rgb-highlight);
}

.toolbar-37BrJ5 .divider-3NY7PF {
	border-left-color: var(--rgb-highlight);
}

.toolbar-37BrJ5::before {
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid var(--rgb-highlight);
}

/* --== Style autocomplete tag ==-- */
.autocomplete-3NRXG8.autocomplete-3jLKbj.autocompleteAttached-bt_md- {
	background-color: var(--base-color);
	border-radius: 10px;
	border: var(--border);
}

.autocomplete-3NRXG8.autocomplete-3jLKbj.autocompleteAttached-bt_md->div>div::-webkit-scrollbar {
	display: none !important;
}

.scroller-18M1mG.thin-31rlnD.scrollerBase-_bVAAt>.base-2v-uc0 {
	border-bottom: var(--border);
	border-radius: 0 0 8px 8px;
}

.clickable-2V8YKY.autocompleteRowVertical-EA9dCg.autocompleteRow-14iwvH>.base-2v-uc0:hover {
	background-color: var(--e);
	border-radius: 10px;
}

.clickable-2V8YKY.autocompleteRowVertical-EA9dCg.autocompleteRow-14iwvH[aria-selected="true"]>.base-2v-uc0 {
	background-color: var(--e);
	border-radius: 10px;
}

.clickable-2V8YKY.dividerContainer-1tL7qa .divider-1bJsnZ::after{
	background-color: var(--highlight);
}

/* --== Style autocomplete command ==-- */
.autocomplete-3NRXG8.outerWrapper-3UdjNj {
	border-radius: 10px;
	border: var(--border);
}

.scroller-2MALzE.list-obNEuP.none-2-_0dP.scrollerBase-_bVAAt {
	background-color: var(--base-color);
	border-right: var(--border);
}

.scroller-2MALzE.list-2u03C-.thin-31rlnD.scrollerBase-_bVAAt {
	background-color: var(--base-color);
}

.thin-31rlnD.scrollerBase-_bVAAt::-webkit-scrollbar-thumb,
.thin-31rlnD.scrollerBase-_bVAAt::-webkit-scrollbar-track {
	margin: 10px 0;
	border-radius: 10px;
}

.categorySection-3hl0bM {
	background-color: var(--base-color);
	border-radius: 10px;
	box-shadow: 0 0 0 1px var(--rgb-highlight);
}

.categoryHeader-OpJ1Ly {
	background-color: var(--base-color);
	border-bottom: var(--border);
	padding: 0;
	margin: 0 8px;
}

.wrapper-1NNaWG:after {
	display: none;
}

.categorySection-3hl0bM .base-2v-uc0:hover {
	background-color: var(--e) !important;
	border-radius: 10px;
}

.categorySection-3hl0bM>div[aria-selected="true"] .base-2v-uc0 {
	background-color: var(--e) !important;
	border-radius: 10px;
}

/* nitro gift */
.root-2s1-ri.withHeader-1pNqnP.root-g14mjS.small-23Atuv.fullscreenOnMobile-ixj0e3>div:first-child {
	margin-top: 1px;
	border-radius: 10px 10px 0 0;
	border-top: var(--border);
	background-image: none;
}

.root-2s1-ri.withHeader-1pNqnP.root-g14mjS.small-23Atuv.fullscreenOnMobile-ixj0e3>div {
	border-right: var(--border);
	border-left: var(--border);
	background-color: var(--base-color);
}

.root-2s1-ri.withHeader-1pNqnP.root-g14mjS.small-23Atuv.fullscreenOnMobile-ixj0e3>div:last-child {
	border-radius: 0 0 10px 10px;
	border-bottom: var(--border);
}

.root-2s1-ri.withHeader-1pNqnP.root-g14mjS.small-23Atuv.fullscreenOnMobile-ixj0e3>div:last-child>button {
	background-color: var(--d);
	border-radius: 10px;
	border: var(--border);
}

.root-2s1-ri.withHeader-1pNqnP.root-g14mjS.small-23Atuv.fullscreenOnMobile-ixj0e3>div:last-child>button:hover {
	background-color: var(--b);
}

/* --== emoji, adesivi e gif ==-- */
.contentWrapper-3vHNP2 {
	background-color: var(--base-color);
	border-radius: 10px;
	border: var(--border);
}

.wrapper-3u51GQ.emojiPickerInExpressionPicker-2nOwH8>div,
.wrapper-1NNaWG.header-1ULbqO,
.inspector-DFKXwB.inspector-2A2Chb {
	background-color: var(--base-color);
}

/*--== MEMBRI DEL SERVER FINALMENTE (se va tutto bene si) ==--*/
/*--== lista dei membri ==--*/
.members-3WRCEx.thin-RnSY0a::-webkit-scrollbar-track {
	padding-right: 1px;
}

.members-3WRCEx.thin_b1c063.scrollerBase_dc3aa9.fade-27X6bG>.container-2kTWmC {
	background-color: transparent;
}

.member-2gU6Ar.member-48YF_l.container-1oeRFJ.clickable-28SzVr,
.member-2gU6Ar.member-48YF_l.container-1oeRFJ.selected-1-Z6gm {
	background-color: transparent;
}

.members-3WRCEx.thin_b1c063.scrollerBase_dc3aa9.fade-27X6bG {
	background-color: var(--base-color);
	border-radius: 10px;
	border: var(--border);
	padding-bottom: 24px;
	margin-right: 0px;
}

.members-3WRCEx.fade-27X6bG:hover::-webkit-scrollbar-thumb,
.members-3WRCEx.fade-27X6bG:hover::-webkit-scrollbar-track {
	margin: 10px 0;
	border-radius: 10px;
}

.members-3WRCEx.thin_b1c063.scrollerBase_dc3aa9.fade-27X6bG .membersGroup-2eiWxl {
	color: var(--rgb-highlight);
	padding-top: 18px;
}

.members-3WRCEx.thin_b1c063.scrollerBase_dc3aa9.fade-27X6bG .membersGroup-2eiWxl>span {
	background-color: var(--e);
	border-radius: 10px;
	box-shadow: 0 0 3px 2px var(--rgb-highlight);
	padding: 2px 10px;
}

.member-2gU6Ar.container-1oeRFJ.clickable-28SzVr>.layout-1qmrhw {
	border-radius: 15px;
	margin-right: 3px;
	padding-right: 5px !important;
	transition: 0.2s;
}

.member-2gU6Ar.container-1oeRFJ.selected-1-Z6gm>.layout-1qmrhw {
	background-color: var(--n);
	border-radius: 15px;
	box-shadow: 0 0 0 1px var(--rgb-highlight);
	margin-right: 3px;
	padding-right: 5px !important;
}

.clickable-28SzVr:hover>.layout-1qmrhw {
	background-color: var(--e);
	transition: 0.2s;
}

.member-2gU6Ar.container-1oeRFJ.clickable-28SzVr>.layout-1qmrhw:hover {
	background-color: var(--e);
	transition: 0.2s;
}

/* online/streaming/non disturbare/afk/offline */
rect[fill="hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)"],
rect[mask*="url(#svg-mask-status-online)"] {
	fill: var(--online-color);
}

rect[fill="hsl(262, calc(var(--saturation-factor, 1) * 46.8%), 39.8%)"],
rect[mask="url(#svg-mask-status-streaming)"] {
	fill: var(--streaming-color);
}

rect[fill="hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%)"],
rect[mask="url(#svg-mask-status-dnd)"] {
	fill: var(--dnd-color);
}

rect[fill="#faa61a"],
rect[mask*=idle] {
	fill: var(--afk-color);
}

.PI-indicatorContainer.PI-type_MemberList>div>svg[data-status="online"] {
	color: var(--online-color) !important;
}

.PI-indicatorContainer.PI-type_MemberList>div>svg[data-status="dnd"] {
	color: var(--dnd-color) !important;
}

/* --== Impostazioni ==-- */
